<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Campus Ambassador'21</title>

    <link rel="stylesheet" href="./assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./assets/vendors/css/vendor.bundle.base.css">

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="./assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="./assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./assets/images/favicon.png" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=1874655192687215&autoLogAppEvents=1" nonce="cM8LaBo8"></script>

    <div class="container-scroller">
      <!-- sidebar -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/home"><img src="./assets/images/logo.png" alt="logo" /></a>
        </div>
        <ul class="nav">
            
            <li class="nav-item menu-items">
                <a class="nav-link" href="/home">
                  <span class="menu-icon">
                    <i class="mdi mdi-airplane-takeoff"></i>
                  </span>
                  <span class="menu-title">DASHBOARD</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/fbshare">
                  <span class="menu-icon">
                    <i class="mdi mdi-account-multiple-plus"></i>
                  </span>
                  <span class="menu-title">FACEBOOK SHARE</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/ideate">
                  <span class="menu-icon">
                    <i class="mdi mdi-led-on"></i>
                  </span>
                  <span class="menu-title">IDEATE</span>
                </a>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" href="/sharecon">
                <span class="menu-icon">
                  <i class="mdi mdi-share-variant"></i>
                </span>
                <span class="menu-title">SHARE CONTACT</span>
              </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/leaderboard">
                  <span class="menu-icon">
                    <i class="mdi mdi-star-circle"></i>
                  </span>
                  <span class="menu-title">LEADERBOARD</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/profile">
                  <span class="menu-icon">
                    <i class="mdi mdi-account-circle"></i>
                  </span>
                  <span class="menu-title">MY PROFILE</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/contact">
                  <span class="menu-icon">
                    <i class="mdi mdi-forum"></i>
                  </span>
                  <span class="menu-title">CONTACT US</span>
                </a>
            </li>
        </ul>
      </nav>
      <!-- top -->
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center" style="width: auto;">
            <a class="navbar-brand" href="/home"><img src="./assets/images/logo-mini.png" height="42px" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-row d-flex align-items-stretch">
            

            <!-- top nav -->
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src='<%= participant.photo %>' alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">&nbsp;<%= participant.name %>&nbsp;</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <a class="dropdown-item preview-item" href="/profile">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Profile</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
            <!-- top nav -->
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- top -->
        <div class="main-panel">
          <div class="content-wrapper">
            <% for(var i =0; i<posts.length; i++){
              if(participant[posts[i].postid] == 0){
             %> 
            <div class="post" style="width:500px; padding-top: 2em; display:block; margin:auto;">
              <div class="fb-post" data-href="https://www.facebook.com/wissenaireiitbbs/posts/<%=posts[i].postid%>" data-width="500" data-show-text="true">
              </div>              
              
              <div class="share-btn" style="width:42px; padding-top:1em; display: block; margin:auto;">
                <button id="sharebtn<%=posts[i].postid%>" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit;">
                  <svg viewBox="0 0 64 64" width="42" height="42">
                    <circle cx="32" cy="32" r="31" fill="#3b5998"></circle>
                    <path d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z" fill="white"></path>
                  </svg>
                </button>
              </div>

              <script>
                document.getElementById('sharebtn<%=posts[i].postid%>').onclick = function(e){
                  // FB.ui({
                  //   method: 'share',
                  //   mobile_iframe: false,
                  //   href: 'https://www.facebook.com/wissenaireiitbbs/posts/<%=posts[i].postid%>',
                  // }, 
                  // function(response){
                  //   console.log(response);
                  //   if (response && !response.error_message) {
                  //     new swal({
                  //     title: 'Post Shared',
                  //     text: 'Thanks for sharing our post',
                  //     icon: 'success'
                  //     });
                    const wiss = '<%=participant.wissid%>';
                    const post = '<%=posts[i].postid%>';
                      $.ajax({
                          url:'/increase',
                          type:"POST",
                          data: {
                            wissid: wiss,
                            postid: post
                          },
                          success:function(result){
                              console.log(result);
                              document.location.reload(true);
                          }
                      })
                //     }   
                //     else {
                //       new swal({
                //       title: 'Error',
                //       text: 'You have not shared the post',
                //       icon: 'error'
                //       });
                //     }
                //   })  
                }
              </script>  

            <%

            }
          }

          %>
            </div>

            

          </div>
          <!-- content-wrapper ends -->
          <!-- footer -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Designed by <a href="" target="_blank">Team Wissenaire'21</a></span>
            </div>
          </footer>
          <!-- footer -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="./assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./assets/vendors/chart.js/Chart.min.js"></script>
    <script src="./assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="./assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="./assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="./assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="./assets/js/off-canvas.js"></script>
    <script src="./assets/js/hoverable-collapse.js"></script>
    <script src="./assets/js/misc.js"></script>
    <script src="./assets/js/settings.js"></script>
    <script src="./assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>